* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  background: rgb(13, 3, 23);
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  padding-inline: 40px;
}
#header {
  padding-block: 30px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header h1 {
  font-family: Orbitron, sans-serif;
  color: #fff;
  font-size: clamp(0.875rem, 0.648rem + 1.14vw, 1.5rem);
}
.header nav {
  display: flex;
  gap: 30px;
}
.header nav a {
  font-family: Orbitron, sans-serif;
  color: #fff;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
}
.burger-menu ion-icon {
  color: #fff;
  font-size: 26px;
  display: none;
  position: absolute;
  right: 0;
  top: -2px;
}
/* !section start------------------------------------------------- */
#section {
  padding-block: 40px;
}
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.section img {
  max-width: 400px;
}
.section-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-text h1 {
  font-family: Orbitron, sans-serif;
  color: #fff;
  font-size: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
  max-width: 400px;
}
.section-text h1 span {
  background: linear-gradient(97.16deg, #f86cf8 12.04%, #64cef5 81.84%);
  font-size: clamp(1.5rem, 1.045rem + 2.27vw, 2.75rem);
}
.section-text p {
  font-family: Poppins, sans-serif;
  color: #fff;
  font-size: clamp(0.75rem, 0.568rem + 0.91vw, 1.25rem);
  font-weight: 500;
  max-width: 420px;
}
.section-btn {
  display: flex;
  gap: 30px;
}
.section-btn button {
  padding: 15px 35px;
  color: #fff;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  border-radius: 4px;
}
.section-btn button:first-child {
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
  border: none;
}
.section-btn button:last-child {
  border: 1px solid #d10ed1;
  background: rgb(13, 3, 23);
}
.section-k {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.section-k h2 {
  font-family: Orbitron, sans-serif;
  font-size: clamp(1rem, 0.795rem + 1.02vw, 1.563rem);
}
.section-k h2 span {
  font-family: Poppins, sans-serif;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
}
/* !section-end----------------------------------------------------- */
/* !is----------------------------------------------------start */
.is {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.is img {
  max-width: 400px;
}
.is-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: self-start;
}
.is-text h1 {
  color: #fff;
  font-family: Orbitron, sans-serif;
  font-size: clamp(1.25rem, 0.909rem + 1.7vw, 2.188rem);
}
.is-text h1 span {
  font-family: Orbitron, sans-serif;
  color: rgb(149, 173, 246);
}
.is-text p {
  color: #ffffffcc;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  font-family: Poppins, sans-serif;
  line-height: 25px;
  max-width: 350px;
}
.is-text button {
  padding: 15px 35px;
  color: #fff;
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
  border: none;
  border-radius: 4px;
}
/* !ix\s end-------------------------------------------------------------------------- */
/* !------------------------------------------------work------------------------------star */
#work {
  padding-block: 30px;
}
.work {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-block: 30px;
  position: relative;
}
.work h1 {
  color: #fff;
  font-family: Orbitron, sans-serif;
  font-size: clamp(1.25rem, 0.909rem + 1.7vw, 2.188rem);
}
.menu ion-icon {
  color: #fff;
  font-size: 25px;
  position: absolute;
  top: 42px;
  right: 80px;
  display: none;
}
.work h1 span {
  font-family: Orbitron, sans-serif;
  color: rgb(149, 173, 246);
  font-size: clamp(1.25rem, 0.909rem + 1.7vw, 2.188rem);
}
.work p {
  color: #ffffffcc;
  font-family: Orbitron, sans-serif;
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
  max-width: 510px;
  text-align: center;
  line-height: 25px;
}
.work-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.work-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  max-width: 280px;
  width: 100%;
  background: #090823;
  padding: 15px;
  border-top-right-radius: 25px;
}
.work-1 img {
  max-width: 350px;
  border-top-right-radius: 25px;
}
.work-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.work-2 h1 {
  color: #fff;
  font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
  font-family: Orbitron, sans-serif;
}
.work-2 p {
  color: #fff;
  font-family: Orbitron, sans-serif;
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
  max-width: 350px;
  line-height: 25px;
}
.work-3 {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.work-3 button {
  color: #fff;
  font-family: Orbitron, sans-serif;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
}
.work-3 button:first-child {
  background: linear-gradient(97.16deg, #d10ed1 12.04%, #10a3da 81.84%);
  border: none;
  border-radius: 4px;
  padding: 10px 25px;
}
.work-3 button:last-child {
  border: 1px solid #d10ed1;
  background: #090823;
  border-radius: 4px;
  padding: 15px 25px;
}
/* !work-end----------------------------------------------------------------------- */
/* !uor----------------------------------------starr */
#our {
  padding-block: 50px;
}
.our {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 10px;
}
.our h1 {
  color: #fff;
  font-family: Orbitron, sans-serif;
  font-size: clamp(1.125rem, 0.739rem + 1.93vw, 2.188rem);
}
.our h1 span {
  color: #10a3da;
  font-family: Orbitron, sans-serif;
  font-size: clamp(1.125rem, 0.739rem + 1.93vw, 2.188rem);
}
.our p {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
  max-width: 470px;
  text-align: center;
}
.our-1 {
  position: relative;
  display: flex;
}
#pp1 {
  max-width: 1000px;
}
#pp11 {
  position: absolute;
  top: 220px;
  right: 450px;
}
.our-1 h1 {
  position: absolute;
  bottom: 40px;
  left: 80px;
  color: #fff;
  font-size: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
  font-family: Orbitron, sans-serif;
}
/* !our--------------------------------------------end-------------------------------- */
#footer {
  /* padding-block: 30px; */
  background: #090823;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer_text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer_text h1 {
  color: #fff;
  font-family: Orbitron, sans-serif;
  font-size: clamp(1.563rem, 1.108rem + 2.27vw, 2.813rem);
}
.footer_text p {
  color: #fff;
  max-width: 300px;
  font-family: Poppins, sans-serif;
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
}
.footer-1 {
  display: flex;
  gap: 40px;
}
.footer-1 h2 {
  color: #fff;
  font-family: Orbitron, sans-serif;
  font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.25rem);
}
.footer-1 ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer-1 ul li {
  color: #fff;
  list-style: none;
  font-family: Poppins, sans-serif;
  font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
}
.footer-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-2 h2 {
  color: #fff;
  font-family: Orbitron, sans-serif;
  font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.25rem);
}
.footer-2 p {
  color: #fff;
  font-family: Poppins, sans-serif;
  font-size: clamp(0.75rem, 0.659rem + 0.45vw, 1rem);
}
.footer-3 {
  display: flex;
  gap: 20px;
}
